<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create User</title>
</head>
<body>
  {{ form }}
  <!-- <form action="/userdb/" method="post">
    {% csrf_token %}
    Username:<br>
    <input type="text" name="username" value="{{ current_username }}" placeholder="Desired Username"><br>
    Email Address:<br>
    <input type="email" name="email" placeholder="Your Eamil Address"><br>
    Password:<br>
    <input type="password" name="password" placeholder="Desired Password"><br>
    Retype Password:<br>
    <input type="password" name="password" placeholder="Retype Password"><br>
    <input type="submit" value="Create User">
  </form> -->
</body>
</html>
