<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Creality</title>
</head>
<body>
  <h1>hello world!</h1>
  <input type="button" value="Log In" onclick="location.href='/login/'">
  <!-- <form action="/admin/" method="post">
    Username:<br>
    <input type="text" name="username" value="{{ current_username }}">
    Email Address:<br>
    <input type="text" name="email">
    Password:<br>
    <input type="password" name="password">
    <input type="submit" value=" Log In">
  </form> -->
  <!-- <form action="/admin/" method="post">
    {% csrf_token %}
    {{ formHere }}
    <input type="submit" value="Submit"> -->
  </form>
</body>
</html>
