{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Upload Image</title>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
  <script src="{% static 'javascript/fourier/fourier.js' %}"></script>
  <script src="{% static 'javascript/toothpicks/animator.js' %}"></script>
  <script src="{% static 'javascript/toothpicks/toothpick.js' %}"></script> -->
</head>
<body>
  {{ model }}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
  </form>
</body>
</html>
